<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Data Vizualization Main Page</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/css/main_style.css"> 
    </head>

    <body>
        <div class = "title-container">
            <div class = "main-title">
                <h1>Cell Data Visualization</h1>
            </div>

            <div>
                <h2>Chyi Ricketts</h2>
            </div>
        </div>

        <div id = "info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto omnis deleniti exercitationem aperiam incidunt mollitia laboriosam maxime inventore repudiandae eum non eos, optio, excepturi quo praesentium harum quibusdam nesciunt nemo!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio amet earum voluptatum nobis voluptas itaque, tenetur aliquid! Debitis consequatur, consequuntur earum aut hic tenetur facilis velit, tempora dicta et fugit?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat asperiores, a perferendis rem ducimus maiores non nostrum soluta. Ipsam minima qui consequuntur omnis delectus quisquam error eaque illum voluptate optio!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto omnis deleniti exercitationem aperiam incidunt mollitia laboriosam maxime inventore repudiandae eum non eos, optio, excepturi quo praesentium harum quibusdam nesciunt nemo!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio amet earum voluptatum nobis voluptas itaque, tenetur aliquid! Debitis consequatur, consequuntur earum aut hic tenetur facilis velit, tempora dicta et fugit?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat asperiores, a perferendis rem ducimus maiores non nostrum soluta. Ipsam minima qui consequuntur omnis delectus quisquam error eaque illum voluptate optio!</p>
            <p>Click here to see my </p>
            <a href="..\static\sw\SW Final Layout.pdf" target = "_blank">sw paper</a>
        </div>

        <div class = "button-container">
            <a href="{{ url_for('open_uploads') }}">
                <button>Continue to Uploads</button>
            </a>
            
        </div>
        
    </body>
</html>